@model IEnumerable<VendaMasterControl.Models.Venda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            data_venda
        </th>
        <th>
            valor_venda
        </th>
        <th>
            valor_desconto
        </th>
        <th>
            valor_frete
        </th>
        <th>
            Cliente
        </th>
        <th>
            id_ML
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data_venda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor_venda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor_desconto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor_frete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_ML)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
