@model IEnumerable<VendaMasterControl.Models.VendaProduto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Venda
        </th>
        <th>
            Produto
        </th>
        <th>
            qtd
        </th>
        <th>
            valorUni
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Venda.id_ML)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.Descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qtd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorUni)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
