@model VendaMasterControl.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Cliente</legend>

    <div class="display-label">nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">idML</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idML)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
